*.iml
.gradle
/local.properties
local.properties

# Log Files
*.log

# Android Studio / IntelliJ
.idea/

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# Keystores and secrets
*.jks
*.keystore
google-services.json

# OS-specific files
.DS_Store
Thumbs.db
